#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.kitten-collection {
  display: flex;
  flex-wrap: wrap;
}

.kitten {
  margin: 0 0.5rem;
}

.kitten-pic {
  max-width: 7rem;
}
